.log { 
	overflow-y: scroll;
	margin-bottom: 12px;
	width: 230px;
	height: 200px;
	background-color: pink;
	float: right;
}
.information {
  color: white;
  width: 120px;
  height: 80px;
  background-color: blue;
  float: left;
}
.stats {
	position: relative;
	background: url("../images/statWindow.png") no-repeat;
	width: 230px;
	height: 178px;
	float: left;
	background-size: contain;
}
.heroButtonsFrame {
	background-image: url("../images/statWindow.png");
	background-size: cover;
	width: 420px;
	height: 25px;
	margin: auto;
	border: 2px solid black;
	padding-left: 23px;
	padding-right: 23px;
	padding-top: 22px;
}
.characterField {
	background-color: pink;
	margin: auto;
	width: 420;
	height: 122px
}
div img.character{
	display: inline-block;
}
